<div class="container">
  <div class="card-list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('card_bg.jpg') %>)">
  <h2><strong><%= @list.name %></strong><h2>
  <h3>Watch-list 🍿</h3>
  </div>
</div>

<div class="container">
  <div class="button">
    <button class="custom-btn btn-1"><span><%= link_to "Add a new bookmark", new_list_bookmark_path(@list), class: 'css_class', style: 'color:#FFFFFF' %></span></button>
    <button class="custom-btn btn-1"><span><%= link_to "Back to Watch list", lists_path, class: 'css_class', style: 'color:#FFFFFF' %></span></button>
    <button class="custom-btn btn-1"><span><%= link_to "Delete this list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" }, class: 'css_class', style: 'color:#FFFFFF'%></span></button>
  </div>
</div>

<div class="container">
  <div class="bookmark-grid">
    <% @list.movies.each do |movie| %>
      <div class="bookmark-card hvr-grow ">
        <div class="bookmark-image">
          <%= image_tag movie.poster_url, style: 'height: 500px'%>
        </div>
        <div class="bookmark-title">
          <h4><strong><%= movie.title %></strong></h4>
        </div>
        <div class="bookmark-overview">
          <p><%= movie.overview %></p>
        </div>
        <div class="bookmark-rating">
          <p>Rating: <strong style="color: red"><%= movie.rating %></strong></p>
        </div>
        <div class="bookmark-delete">
          <%= link_to "Delete this bookmark", lists_path(@bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this bookmark?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
